.homepage {
  display: flex; // The flex CSS property sets how a flex item will grow or shrink to fit the space available in its flex container.
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}
